.about {
  margin: 50px 35px 50px 95px;
}
  
.about h3 {
  font-size: 50px;
  font-weight: 700;
  letter-spacing: -2px;
  line-height: 50px;    
}
  
.about .row {
  display: flex;
  gap: 40px;
  margin: 25px 0;
}
  
.about .col {
  background: rgba(171, 214, 238, 0.5);
  border-radius: 5px 5px 50px 50px;
  min-width: 400px;
  padding: 0;
}
  
.about p {
  font-size: 15px;
  letter-spacing: -0.25px; 
}
  
.about .card-top, .about .card-top, .about .card-top {
  height: 200px;
}
  
.about .card-body {
  padding: 25px;
} 
    
@media (max-width: 991.5px) {
.about .row {
  gap: 20px;
}
  
.about .col {
  border-radius: 5px;
}
}

@media (max-width: 550px) {
.about {
  margin: 50px 20px 50px 20px;
}
}

@media (max-width: 450px) {
.about .col {
  min-width: 300px;
  padding: 0;
}
}
