.equipment {
  background: rgba(255, 253, 240, 0.2);
  backdrop-filter: blur(5px);
  border-radius: 25px;
  box-shadow:  inset 0 0 150px rgba(242, 177, 241, 0.35), var(--box-shadow);
  margin: 75px 20px 100px 20px;
}
  
.equipment .row {
  gap: 10px;
  row-gap: 10px;
  margin: 0;
  padding: 50px 20px 0 20px;
}

/* Manual Colour Change */
.equipment button {
  background: rgba(242, 177, 241, 0.1);
  border: none;
  border-radius: 25px;
  box-shadow: inset 0 0 25px rgba(242, 177, 241, 0.25), var(--box-shadow);
  color: var(--dark-color);
  font-size: 15px;
  font-weight: 300;
  height: 52px;
  padding: 5px 10px;
  transition: all 500ms ease-in-out;
  width: 100%;
}

/* Manual Colour Change */
.equipment button:hover {
  background: rgba(242, 177, 241, 0.2);
  box-shadow: inset 0 0 25px rgba(242, 177, 241, 0.35), var(--box-shadow);
  transform: scale(1.025);
}

/* Manual Colour Change */
.equipment .active {
  background: var(--dark-color);
  box-shadow: var(--box-shadow);
  color: var(--background-color);
  transform: scale(1.025);
}

/* Manual Colour Change */
.equipment .active:hover {
  background: var(--dark-color);
  box-shadow: none;
}
  
.equipment-1, .equipment-2, .equipment-3, .equipment-4, .equipment-5 {
  padding: 50px;
}
  
.equipment h4 {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: -1.5px;
  line-height: 40px;
}
  
.equipment h5 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 30px;
}
  
.equipment p {
  font-size: 15px;
  font-weight: 300;
}
  
.equipment ul {
  list-style: none;
  margin-top: -15px;
  padding-left: 10px;
}
  
.equipment li {
  font-size: 15px;
  font-style: italic;
  line-height: 25px;
}
  
.equipment-1 .grid {
  align-items: center;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
}

.equipment-1 .grid-item-2 {
  text-align: center;
}

.equipment-2 .grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.equipment-2 img {
  display: block;
  margin: 0 auto 50px auto;
}

.equipment-5 .grid {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.equipment-5 .grid-item-2 {
  text-align: center;
}

.equipment img {
  width: 225px;
}

.fade-in {
  animation: fadeIn 2s;
}

.fade-out {
  animation: fadeOut 2s;
}

.option {
  overflow: hidden;
  transition: height 1s ease-in-out, opacity 1s ease-in-out;
  height: 0;
  opacity: 0;
}

.option.fade-in {
  height: 100%;
  opacity: 1;
}

.equipment-content-wrapper {
  transition: height 750ms ease-in-out;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-out;
}

@media (max-width: 1469px) {   
.equipment button {
  height: 75px;
}
}

@media (max-width: 915px) {  
.equipment .row {
  display: block;
}

.equipment button {
  height: 52px;
  margin-bottom: 10px;
}
}

@media (max-width: 856px) {  
.equipment-2 .grid {
  grid-template-columns: 1fr;
}

.equipment-2 .grid-item-2 {
  display: flex;
  margin-top: 35px;
}

.equipment-5 .grid {
  grid-template-columns: 2fr 1fr;
}
}
      
@media (max-width: 800px) {  
.equipment-1, .equipment-2, .equipment-3, .equipment-4, .equipment-5 {
  padding: 40px;
}
}

@media (max-width: 684px) { 
.equipment-1 .grid {
  grid-template-columns: 1fr;
}
    
.equipment-1 .grid-item-2 {
  margin: 35px auto 35px auto;
}
  
.equipment-5 .grid {
  grid-template-columns: 1fr;
}

.equipment-5 img {
  display: none;
}
}

@media (max-width: 550px) {
.equipment-1, .equipment-2, .equipment-3, .equipment-4, .equipment-5 {
  text-align: center;
}
}

@media (max-width: 539px) { 
.equipment h4 {
  font-size: 35px;
  letter-spacing: -1.25px;
  line-height: 32px;
}
}

@media (max-width: 530px) { 
.equipment-2 .two {
  display: none;
}
}

@media (max-width: 366px) { 
.equipment-1, .equipment-2, .equipment-3, .equipment-4, .equipment-5 {
  padding: 20px;
}
}