.equipment {
  box-sizing: border-box;
  overflow: hidden;
}
  
.equipment .row {
  gap: 5px;
  margin: 0;
  padding: 50px 40px 0 40px;
}
  
/* Manual Colour Change */
.equipment button {
  background: rgba(73, 73, 73, 0.25);
  border: none;
  border-radius: 25px;
  color: var(--background-color);
  font-size: 15px;
  font-weight: 300;
  height: 50px;
  padding: 5px;
  transition: all 500ms ease-in-out;
  width: 100%;
}

/* Manual Colour Change */
.equipment button:hover {
  background: rgba(73, 73, 73, 0.5);
}
  
/* Manual Colour Change */
.equipment .active {
  background: rgba(73, 73, 73, 1);
}

/* Manual Colour Change */
.equipment .active:hover {
  background: rgba(73, 73, 73, 0.75);
}
  
.equipment-1, .equipment-2, .equipment-3, .equipment-4, .equipment-5 {
  padding: 50px 50px 35px 50px;
}
  
.equipment h4 {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: -1.5px;
  line-height: 40px;
}
  
.equipment h5 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 30px;
}
  
.equipment p {
  font-size: 15px;
  font-weight: 300;
}
  
.equipment ul {
  list-style: none;
  margin-top: -15px;
  padding-left: 10px;
}
  
.equipment li {
  font-size: 15px;
  font-style: italic;
  line-height: 25px;
}
  
.equipment-1 .grid {
  align-items: center;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
}

.equipment-1 .grid-item-2 {
  text-align: center;
}

.equipment-2 .grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.equipment-2 img {
  display: block;
  margin: 0 auto 50px auto;
}

.equipment-5 .grid {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.equipment-5 .grid-item-2 {
  text-align: center;
}

.equipment img {
  width: 225px;
}

.fade-in {
  animation: fadeIn 2s;
}

.fade-out {
  animation: fadeOut 2s;
}

.option {
  overflow: hidden;
  transition: height 1s ease-in-out, opacity 1s ease-in-out;
  height: 0;
  opacity: 0;
}

.option.fade-in {
  height: 100%;
  opacity: 1;
}

.equipment-content-wrapper {
  transition: height 750ms ease-in-out;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-out;
}

@media (max-width: 1448px) {   
.equipment button {
  height: 75px;
  padding: 10px 10px;
}
}

@media (max-width: 915px) {  
.equipment .row {
  display: block;
  gap: 5px;
}

.equipment button {
  height: 45px;
  margin-bottom: 5px;
}
}

@media (max-width: 856px) {  
.equipment-5 .grid {
  grid-template-columns: 2fr 1fr;
}
}

@media (max-width: 850px) {  
.equipment-2 .grid {
  grid-template-columns: 1fr;
}
  
.equipment-2 .grid-item-2 {
  display: flex;
  margin-top: 35px;
}
}
      
@media (max-width: 800px) {  
.equipment-1, .equipment-2, .equipment-3, .equipment-4, .equipment-5 {
  padding: 40px;
}

.equipment .row {
  padding: 50px 20px 0 20px;
}
}

@media (max-width: 684px) {  
.equipment-5 .grid {
  grid-template-columns: 1fr;
}

.equipment-5 img {
  display: none;
}
}
 
@media (max-width: 675px) {
.equipment-1 .grid {
  grid-template-columns: 1fr;
}
  
.equipment-1 .grid-item-2 {
  margin: 35px auto 35px auto;
}
}

@media (max-width: 550px) {
.equipment-1, .equipment-2, .equipment-3, .equipment-4, .equipment-5 {
  text-align: center;
}
}

@media (max-width: 539px) { 
.equipment h4 {
  font-size: 35px;
  letter-spacing: -1.25px;
  line-height: 32px;
}
}

@media (max-width: 530px) { 
.equipment-2 .two {
  display: none;
}
}
