main {
  box-sizing: border-box;
  margin: 150px 135px 210px 135px;
  overflow: hidden;
  padding: 0;
}
 
main h1 {
  font-family: var(--font-family-sub-head);
  font-size: 70px;
  font-weight: 400;
  letter-spacing: -1px;
  line-height: 60px;
  margin-left: 2.5px;
  text-transform: lowercase;
}

main h1 .space {
  letter-spacing: -20px;
}

main h2 {
  font-family: var(--font-family-head);
  font-size: 90px;
  font-weight: 800;
  letter-spacing: -5px;
  margin: -40px 0 0 -3px;
  text-transform: uppercase;
}

main p {
  font-family: var(--font-family-paragraph);
  font-size: 30px;
  font-weight: 100;
  line-height: 45px;
  margin: -25px 0 0 329px;
  text-transform: lowercase;
}

.responsive-show {
  display: none;
}

@media (max-width: 1180px) {    
main {
  margin: 135px 100px 205px 100px;
}
}
      
@media (max-width: 1110px) {
main {
  margin: 135px 100px 205px 100px;
}
     
main h1 {
  font-size: 60px;
}

main h1 .space {
  letter-spacing: -15px;
}
    
main h2 {
  font-size: 80px;
  letter-spacing: -4px;
  margin-top: -39px;
}
    
main p {
  font-size: 27px;
  letter-spacing: 1.65px;
  line-height: 25px;
  margin: -14px 0 0 220px;
}
}
      
@media (max-width: 1010px) { 
main {
  margin: 135px auto 205px auto;
  text-align: center;
}
       
main h1 {
  margin-right: 665px;
}
      
main p {
  margin: -14px 0 0 199px;
}
}

@media (max-width: 900px) { 
main {
  margin: 145px auto 220px auto;
}

main h1 {
  margin-right: 572px;
}
        
main h2 {
  font-size: 70px;
  letter-spacing: -3px;
  margin-top: -37px;
}
        
main p {
  font-size: 23px;
  letter-spacing: 1.5px;
  line-height: 20px;
  margin: -12px 0 0 188px;
}
}

@media (max-width: 750px) { 
main {
  margin: 155px auto 225px auto;
}

main h1 {
  margin-right: 473px;
}
          
main h2 {
  font-size: 60px;
  letter-spacing: -2.5px;
  margin-top: -35px;
}
          
main p {
  font-size: 20px;
  letter-spacing: 1.25px;
  margin: -11px 0 0 158px;
}
}
    
@media (max-width: 650px) {
main h1 {
  font-size: 80px;
  margin: 0;
}
              
main h2 {
  font-size: 50px;
  letter-spacing: -2px;
  margin: -23px 0 0 0;
}
              
main p {
  margin: -6px 0 0 0;
}
}

@media (max-width: 550px) {
main {
  margin: 160px auto 230px auto;
}

main h1 {
  font-size: 70px;
  letter-spacing: -1px;
}
                
main h2 {
  font-size: 40px;
  letter-spacing: -1.5px;
}
                
main p {
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 18px;
}
}
      
@media (max-width: 450px) { 
main {
  margin: 190px auto 230px auto;
}

main h1 {
  font-size: 60px;
  letter-spacing: -1px;
}
                 
main h2 {
  font-size: 35px;
  letter-spacing: -0.75px;
  margin-top: -22px;
}
                  
main p {
  font-size: 26px;
  letter-spacing: 1px;
  line-height: 24px;
  margin: -5px 0 0 0;
}

main .responsive-show {
  display: inline-block;
}

main .responsive-hide {
  display: none;
}
}

@media (max-width: 400px) { 
main h2 {
  font-size: 30px;
  letter-spacing: -0.5px;
  margin-top: -21px;
}
}
    
@media (max-width: 350px) {
main {
  margin: 180px auto 190px auto;
}
    
main h1 {
  font-size: 50px;
  letter-spacing: -0.5px;
}

main h2 {
  font-size: 27px;
  letter-spacing: -0.25px;
  margin-top: -23px;
}
                    
main p {
  font-size: 20px;
  letter-spacing: 1.25px;
  line-height: 17.5px;
  margin: -5px 25px 0 25px;
}
}