main {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding: 150px 0 210px 0;
}

main h1 {
  font-family: var(--font-family-head);
  font-size: 50px;
  font-weight: 450;
  letter-spacing: -2px;
  margin-left: 5px;
  text-transform: uppercase;
  transition: all 300ms ease-in-out;
}

main h2 {
  display: inline-block;
  font-family: var(--font-family-head);
  font-size: 90px;
  font-weight: 800;
  letter-spacing: -5px;
  margin-top: -35px;
  position: relative;
  text-transform: uppercase;
  transition: all 300ms ease-in-out;
}

main h2::before,
main h2::after {
  content: "Putechnology";
  opacity: 0.8;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip: rect(0, 900px, 0, 0);
}

main h2::after {
  left: -2px;
  text-shadow: -2px 0 var(--background-color);
}

main h2:hover::before,
main h2:hover::after {
  animation: glitch 1.5s infinite alternate-reverse;
}

@keyframes glitch {
  0% {
    clip: rect(24px, 9999px, 44px, 0);
    transform: skew(5deg);
  }
  5% {
    clip: rect(0, 9999px, 140px, 0);
    transform: skew(5deg);
  }
  10% {
    clip: rect(44px, 9999px, 60px, 0);
    transform: skew(5deg);
  }
  15% {
    clip: rect(94px, 9999px, 100px, 0);
    transform: skew(5deg);
  }
  20% {
    clip: rect(18px, 9999px, 20px, 0);
    transform: skew(5deg);
  }
  25% {
    clip: rect(80px, 9999px, 100px, 0);
    transform: skew(5deg);
  }
  30% {
    clip: rect(50px, 9999px, 70px, 0);
    transform: skew(5deg);
  }
  35% {
    clip: rect(70px, 9999px, 90px, 0);
    transform: skew(5deg);
  }
  40% {
    clip: rect(30px, 9999px, 50px, 0);
    transform: skew(5deg);
  }
  45% {
    clip: rect(60px, 9999px, 80px, 0);
    transform: skew(5deg);
  }
  50% {
    clip: rect(10px, 9999px, 30px, 0);
    transform: skew(5deg);
  }
  55% {
    clip: rect(90px, 9999px, 110px, 0);
    transform: skew(5deg);
  }
  60% {
    clip: rect(20px, 9999px, 40px, 0);
    transform: skew(5deg);
  }
  65% {
    clip: rect(80px, 9999px, 100px, 0);
    transform: skew(5deg);
  }
  70% {
    clip: rect(40px, 9999px, 60px, 0);
    transform: skew(5deg);
  }
  75% {
    clip: rect(60px, 9999px, 80px, 0);
    transform: skew(5deg);
  }
  80% {
    clip: rect(30px, 9999px, 50px, 0);
    transform: skew(5deg);
  }
  85% {
    clip: rect(90px, 9999px, 110px, 0);
    transform: skew(5deg);
  }
  90% {
    clip: rect(50px, 9999px, 70px, 0);
    transform: skew(5deg);
  }
  95% {
    clip: rect(70px, 9999px, 90px, 0);
    transform: skew(5deg);
  }
  100% {
    clip: rect(40px, 9999px, 60px, 0);
    transform: skew(5deg);
  }
}

main .text-container {
  position: relative;
  left: 35px;
}

main img {
  position: relative;
  top: -11px;
  right: 35px;
}

@media (max-width: 1250px) {    
main h2 {
  font-size: 80px;
  letter-spacing: -4.5px;
  margin-top: -32px;
}

main .text-container {
  left: 40px;
}

main img {
  height: 95%;
  top: -10px;
  right: 27px;
}
}
      
@media (max-width: 1150px) {
main h2 {
  font-size: 70px;
  letter-spacing: -4px;
  margin-top: -31px;
}
  
main .text-container {
  left: 45px;
}
  
main img {
  height: 90%;
  top: -8px;
  right: 21px;
}
}
      
@media (max-width: 1010px) { 
main h1 {
  font-size: 45px;
  letter-spacing: -1.75px;
}

main h2 {
  font-size: 60px;
  letter-spacing: -3.5px;
  margin-top: -28px;
}
    
main .text-container {
  left: 55px;
}
    
main img {
  height: 85%;
  top: -12px;
  right: 5px;
}
}

@media (max-width: 900px) { 
main h2 {
  font-size: 50px;
  letter-spacing: -3px;
  margin-top: -26px;
}
      
main .text-container {
  left: 60px;
}
      
main img {
  height: 80%;
  top: -12px;
  right: -5px;
}
}

@media (max-width: 800px) { 
main {
  display: block;
  padding: 90px 0 170px 0;
  text-align: center;
}

main h1 {
  font-size: 40px;
  letter-spacing: -1.5px;
}

main h2 {
  font-size: 60px;
  letter-spacing: -3.5px;
  margin-top: -25px;
}
        
main .text-container {
  left: 0;
}
        
main img {
  top: 0;
  right: 0;
}
}

@media (max-width: 650px) {
main h2 {
  font-size: 50px;
  letter-spacing: -3px;
  margin-top: -23px;
}
}
      
@media (max-width: 550px) { 
main {
  padding: 100px 0 170px 0;
}
  
main h1 {
  font-size: 35px;
  letter-spacing: -1.25px;
}
  
main h2 {
  font-size: 40px;
  letter-spacing: -2px;
  margin-top: -22px;
}
}

@media (max-width: 450px) { 
main h1 {
  font-size: 60px;
  letter-spacing: -3.5px;
}
    
main h2 {
  font-size: 27px;
  letter-spacing: -1.5px;
  margin: -22px 0 0 2px;
}

main .text-container {
  top: 122px;
}

main img {
  top: -42px;
  z-index: -1;
}
}
    
@media (max-width: 400px) {
main img {
  top: -37px;
  width: 350px;
}
}

@media (max-width: 350px) {
main img {
  top: -20px;
  width: 300px;
}
}