.services h3 {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: -1.5px;
  line-height: 38px;
  margin: 0;
  padding: 50px 50px 0 50px;
}
  
.services .description {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.25px;
  line-height: 22px;
  margin: 0;
  padding: 15px 60px 50px 60px;
}
  
.services .grid {
  display: grid;
  grid-gap: 20px;
  grid-row-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 20px 300px 20px;
}

/* Manual Colour Change */
.services .grid-item {
  background: rgba(255, 253, 240, 0.2);
  backdrop-filter: blur(5px);
  border-radius: 25px;
  box-shadow: inset 0 0 150px rgba(242, 177, 241, 0.35), var(--box-shadow);
  height: 600px;
  min-width: 300px;
  overflow: hidden;
  padding: 50px 20px 0 20px;
}

.services img {
  height: 115px;
  margin-bottom: 25px;
}

.services h4 {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: -1.5px;
  line-height: 40px;
  margin-bottom: 25px;
}
  
.services ul {
  display: grid;
  grid-gap: 10px;
  grid-row-gap: 10px;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  padding: 0;
}

/* Manual Colour Change */
.services button {
  background: rgba(242, 177, 241, 0.1);
  border: none;
  border-radius: 25px;
  box-shadow: inset 0 0 25px rgba(242, 177, 241, 0.25), var(--box-shadow);
  color: var(--dark-color);
  font-size: 15px;
  font-weight: 300;
  height: 50px;
  padding: 5px;
  transition: all 500ms ease-in-out;
  width: 100%;
}

/* Manual Colour Change */
.services button:hover {
  background: rgba(242, 177, 241, 0.2);
  box-shadow: inset 0 0 25px rgba(242, 177, 241, 0.35), var(--box-shadow);
  transform: scale(1.025);
}

.services .active {
  background: var(--dark-color);
  box-shadow: var(--box-shadow);
  color: var(--background-color);
  transform: scale(1.025);
} 

/* Manual Colour Change */
.services .active:hover {
  background: var(--dark-color);
  box-shadow: none;
}

.services .option {
  padding: 15px 30px 30px 30px;
}

.services h5 {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -0.25px;
  line-height: 22px;
}
  
.services p {
  font-size: 15px;
  font-weight: 300;
}

.option {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.option.fade-in {
  opacity: 1;
}

.option.fade-out {
  opacity: 0;
}

@media (max-width: 1398px) {
.services .grid-item {
  height: 620px;
}
}

@media (max-width: 1293px) {
.services .grid-item {
  height: 640px;
}
}

@media (max-width: 1250px) {
.services .grid {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}

.services .grid-item {
  height: 580px;
}

.services .grid-item:nth-child(1),
.services .grid-item:nth-child(2) {
  grid-column: span 1;
}

.services .grid-item:nth-child(3) {
  grid-column: span 2;
}
}

@media (max-width: 1094px) {
.services .grid-item {
  height: 600px;
}
}

@media (max-width: 939px) {
.services .grid-item {
  height: 620px;
}
}

@media (max-width: 868px) {
.services .grid-item {
  height: 640px;
}
}

@media (max-width: 850px) {
.services h3 {
  padding: 50px 20px 0 20px;  
}
              
.services .description {
  padding: 15px 40px 50px 40px;
}
}

@media (max-width: 820px) {
.services .grid {
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.services .grid-item {
  height: 560px;
}

.services .grid-item:nth-child(3) {
  grid-column: span 1;
}
}

@media (max-width: 643.5px) {
.services .grid-item {
  height: 580px;
}
}

@media (max-width: 557px) {
.services .grid-item {
  height: 600px;
}
}
      
@media (max-width: 550px) {  
.services .option {
  padding: 10px 20px 30px 20px;
}
}

@media (max-width: 459.5px) {
.services .grid-item {
  height: 620px;
}
}

@media (max-width: 450px) {     
.services h3 {
  font-size: 35px;
  letter-spacing: -1.5px;
  line-height: 32px;
} 

.services .description {
  font-size: 15px;
  font-weight: 300;
  line-height: 22px;
  margin: 0;
  padding: 15px 20px 30px 20px;
} 

.services h4 {
  font-size: 35px;
  letter-spacing: -1.5px;
  line-height: 32px;
  margin-bottom: 25px;
}

.services p {
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
}

.services .option {
  padding: 10px 0 30px 0;
}

.services .grid-item {
  height: 560px;
}
}

@media (max-width: 440px) {  
.services .grid-item {
  height: 580px;
}
}

@media (max-width: 425px) {  
.services ul {
  grid-template-columns: 1fr;
}

.services .grid-item {
  height: 700px;
}
}

@media (max-width: 374px) {
.services .grid-item {
  height: 715px;
}
}

@media (max-width: 350px) {
.services h3 {
  font-size: 30px;
  letter-spacing: -1.25px;
  line-height: 30px;
} 

.services .grid-item {
  min-width: 250px;
}
}

@media (max-width: 343.5px) {
.services .grid-item {
  height: 730px;
}
}