.services {
  overflow: hidden;
  z-index: -2;
}

.services h3 {
  font-size: 50px;
  font-weight: 700;
  letter-spacing: -2px;
  line-height: 50px;    
  padding-top: 50px;
  margin: 0 100px 0 160px;
}
  
.services .description {
    font-size: 18px;
    letter-spacing: 0.25px;
    line-height: 24px;
    margin: 15px 100px 25px 160px;
}
  
.services .row {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px 20px 20px 80px;
  padding-bottom: 75px; 
}
  
.services .col {
  min-width: 400px;
  z-index: 0;
}
  
.services .option {
  border-radius: 5px 5px 50px 50px;
  height: 240px;
  margin-top: -11px;
  padding: 30px;
}
  
.services img {
  align-items: center;
  height: 150px;
  z-index: 9999;
}
  
.services h4 {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: -1.5px;
  line-height: 40px;
  margin-bottom: 25px;
}
  
.services ul {
  display: grid;
  grid-gap: 5px;
  grid-row-gap: 5px;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  padding: 0;
}

.services button {
  background: rgba(168, 168, 168, 0.1);
  border: none;
  border-radius: 5px;
  color: var(--dark-color);
  font-size: 15px;
  height: 45px;
  width: 100%;
  letter-spacing: -0.25px;
  padding: 10px 5px;
  transition: all 300ms ease-in-out;
}

.services button:hover {
  background: rgba(171, 214, 238, 0.25);
}

.services .active, .services .option {
  background: rgba(171, 214, 238, 0.5);
} 

.services .active {
  font-weight: 700;
}
  
.services h5 {
  font-size: 15px;
  font-weight: 700;
  letter-spacing: -0.25px;
}
  
.services p {
  font-size: 15px;
  letter-spacing: -0.25px;
}

@media (max-width: 1340px) {
.services .option {
  height: 200px;
}
}

@media (max-width: 1300px) {
.services .option {
  height: 200px;
}
}

@media (max-width: 1200px) {
.services h3 {
  padding-top: 50px;
  margin: 0 80px 0 140px;
}

.services .description {
  margin: 15px 80px 25px 140px;
}
}

@media (max-width: 1160px) {
.services .option {
  height: 220px;
}
}

@media (max-width: 1022px) {
.services .option {
  height: 240px;
}
}

@media (max-width: 991.5px) {
.services h3 {
  margin: 0 70px 0 130px;
}

.services .description {
  margin: 15px 70px 25px 130px;
}
}

@media (max-width: 920px) {
.services h3 {
  margin: 0 60px 0 120px;
}
      
.services .description {
  margin: 25px 60px 50px 120px;
}  

.services .option {
  height: 180px;
}
}
      
@media (max-width: 800px) {  
.services h3 {
  margin: 0 40px 0 100px;
}
    
.services .description {
  margin: 25px 40px 50px 100px;
} 
}

@media (max-width: 715px) {  
.services .option {
  height: 200px;
}
}

@media (max-width: 620px) {  
.services .option {
  height: 220px;
}
}
      
@media (max-width: 550px) {
.services h3 {
  margin: 0 40px 0 40px;
}
          
.services .description {
  margin: 25px 40px 50px 40px;
} 
    
.services .row {
  margin: 0 20px 50px 20px;
}

.services .option {
  height: 220px;
  padding: 30px 20px;
}
}

@media (max-width: 471px) {  
.services .option {
  height: 240px;
}
}

@media (max-width: 425px) {  
.services ul {
  grid-template-columns: 1fr;
}
}
      
@media (max-width: 450px) {     
.services h3 {
  font-size: 35px;
  letter-spacing: -1.25px;
  line-height: 40px;
  margin: 0 20px 0 20px;
}

.services .description {
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 24px;
  margin: 10px 20px 20px 20px;
}

.services button {
  font-size: 15px;
  letter-spacing: 0px;
}

.services h5 {
  font-size: 15px;
  letter-spacing: 0px;
}
  
.services p {
  font-size: 15px;
  letter-spacing: 0px;
}
     
.services .col {
  min-width: 300px;
  padding: 0;
}
}

@media (max-width: 401px) {  
.services .option {
  height: 260px;
}
}

@media (max-width: 375px) {  
.services .option {
  height: 280px;
}
}
    
@media (max-width: 347px) {  
.services .option {
  height: 300px;
}
}